body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Molot, sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
    background: url(val2.jpg);
    background-size: cover;
}

.container {
    position: absolute;
}

h1 {
    font-size: 3em;
    margin: 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#yesBtn {
    background-color: rgba(255, 0, 140, 0.392);
    color: white;
}

#noBtn {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    position: absolute;
    left: 65%;
    top: 65%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;

}

.hidden {
    display: none;
}

#Celebration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.847);
}

#Celebration img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border: solid 2px rgb(255, 0, 140);
}